utilities/scala_utilities_notebooks/.ipynb_checkpoints/
dev_inside_you/scala_tutorial/.idea/$PRODUCT_WORKSPACE_FILE$
dev_inside_you/scala_tutorial/.idea/azureSettings.xml
dev_inside_you/scala_tutorial/.idea/vcs.xml
dev_inside_you/scala_tutorial/.idea/scala_tutorial.iml
dev_inside_you/scala_tutorial/.idea/sbt.xml
dev_inside_you/scala_tutorial/.idea/modules.xml
dev_inside_you/scala_tutorial/.idea/misc.xml
dev_inside_you/scala_tutorial/.idea/codeStyles/codeStyleConfig.xml
dev_inside_you/scala_tutorial/.idea/codeStyles/Project.xml
