utilities/scala_utilities_notebooks/.ipynb_checkpoints/
dev_inside_you/scala_tutorial/.idea/$PRODUCT_WORKSPACE_FILE$
dev_inside_you/scala_tutorial/.idea/azureSettings.xml
dev_inside_you/scala_tutorial/.idea/vcs.xml
dev_inside_you/scala_tutorial/.idea/scala_tutorial.iml
dev_inside_you/scala_tutorial/.idea/sbt.xml
dev_inside_you/scala_tutorial/.idea/modules.xml
dev_inside_you/scala_tutorial/.idea/misc.xml
dev_inside_you/scala_tutorial/.idea/codeStyles/codeStyleConfig.xml
dev_inside_you/scala_tutorial/.idea/codeStyles/Project.xml
.xslt/
coursera/functionalProgramingPrinciples/example/target/streams/test/unmanagedJars/$global/streams/export
coursera/functionalProgramingPrinciples/example/target/streams/test/unmanagedClasspath/$global/streams/export
coursera/functionalProgramingPrinciples/example/target/streams/test/managedClasspath/$global/streams/export
coursera/functionalProgramingPrinciples/example/target/streams/test/externalDependencyClasspath/$global/streams/export
coursera/functionalProgramingPrinciples/example/target/streams/runtime/unmanagedJars/$global/streams/export
coursera/functionalProgramingPrinciples/example/target/streams/runtime/unmanagedClasspath/$global/streams/export
coursera/functionalProgramingPrinciples/example/target/streams/runtime/managedClasspath/$global/streams/export
coursera/functionalProgramingPrinciples/example/target/streams/runtime/externalDependencyClasspath/$global/streams/export
coursera/functionalProgramingPrinciples/example/target/streams/compile/unmanagedJars/$global/streams/export
coursera/functionalProgramingPrinciples/example/target/streams/compile/unmanagedClasspath/$global/streams/export
coursera/functionalProgramingPrinciples/example/target/streams/compile/managedClasspath/$global/streams/export
coursera/functionalProgramingPrinciples/example/target/streams/compile/externalDependencyClasspath/$global/streams/export
coursera/functionalProgramingPrinciples/example/target/streams/$global/updateClassifiers/$global/streams/out
coursera/functionalProgramingPrinciples/example/target/streams/$global/update/$global/streams/out
coursera/functionalProgramingPrinciples/example/target/streams/$global/projectDescriptors/$global/streams/out
coursera/functionalProgramingPrinciples/example/target/streams/$global/coursierResolutions/$global/streams/out
coursera/functionalProgramingPrinciples/example/target/streams/$global/coursierClassifiersArtifacts/$global/streams/out
coursera/functionalProgramingPrinciples/example/target/streams/$global/coursierArtifacts/$global/streams/out
coursera/functionalProgramingPrinciples/example/target/streams/$global/$global/dumpStructure/$global/streams/out
coursera/functionalProgramingPrinciples/example/target/.history
